.AlertBar{
    background-color: rgb(255, 5, 5);
}
.AlertContent{
color: rgb(255, 255, 255);
padding: 1rem;

font-size: 2em;
font-weight: 700;
}
.inactive{
    display: none;
}
.inactive div{
    display: none;
}