.cardBody {
  max-width: 1200px;
  width: 18%;
  position: relative;
  background-color: rgb(178, 236, 255);
  border-radius: 35px;
  /* border: 1px solid #26235c; */
  margin: 20px;
  padding: 20px 40px;
  -webkit-box-shadow: 0px 0px 56px -8px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0px 0px 56px -8px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 0px 56px -8px rgba(0, 0, 0, 0.6);
}

.CloseButton {
  position: absolute;
  left: 17px;
  top: 17px;
  padding: 10px 15px;
  border: 1px solid #000;
  border-radius: 24px;
  font-weight: 700;
  background-color: #26235c;
  color: #fff;
  font-style: italic;
  font-size: 1.3rem;
}

.ProfileImage {
  border: 1px solid #26235c;
  width: 60%;
  margin-top: 35px;
  border-radius: 50%;
  position: relative;
  left: 0px;
}
.name {
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 42px;
  text-align: center;
  color: #252525;
}
.isAlive {
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 28px;
  text-align: left;
  margin-left: 25px;
  color: #26235c;
}
.status {
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 28px;
  text-align: left;
  margin-left: 25px;
  color: #26235c;
}
.originName {
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 28px;
  text-align: left;
  margin-left: 25px;
  color: #26235c;
}
.gender {
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 28px;
  text-align: left;
  margin-left: 25px;
  color: #26235c;
}
