.input {
    /* margin-top: 15px; */
  padding: 10px 15px;
  min-width: 55%;
  font-size: 1.5rem;
  line-height: 1.5em;
  color: #373d41;
  background-color: #fff;
  border: 1px solid #c5c5c7;
  border-radius: 6px;
  box-shadow: none;
  border-right: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.button {
  background-color: #26235c;
  color: #ffffff;
  font-weight: 700;
  text-decoration: none;
  cursor: pointer;
  outline: 0;
  padding: 14px 24px;
  font-size: 1.5rem;
  line-height: rem;
  border-radius: 6px;
  border-width: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.search-form .input-group {
  text-align: center;
}
